
body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background:
  linear-gradient(
    rgba(230, 129, 129, 0.20),
    rgba(228, 226, 161, 0.2)
  ),
  url(https://images.unsplash.com/photo-1529143503127-c95bdeee219a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: yellow;
}

h1{
  font-size: 75px;
  margin-top: 10%;
  letter-spacing: 25px;
  border: yellow;
  border-style: solid;
  padding: 15px;
}

.dropdown-and-button {
  display: flex;
}

#select-plant {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-variant-caps: all-small-caps;
  text-align: center;
  background-color:transparent;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  text-transform: capitalize;
  margin: 25px;

}

#button {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-variant: small-caps;
  background-color:transparent;
  color: white;
  border-style: solid;
  border-color: white;
  align-self: center;
}

.results {
display: flex;
align-content: justify;
align-items: center;
flex-flow: wrap;
border: chartreuse;
border-style: solid;
border-width: 2px;
}


#append-plant {
  font-size: 25px;
  padding: 25px;
  margin: 25px;
}

img{
  width: 300px;
  height: auto;
  padding: 15px;
}

#common-name,
#family-name,
#duration {
  font-variant-caps: all-small-caps;
  font-weight: 45px;
  text-align: center;
  background: black;
  padding: 5px;
}

#common-name {
  font-size: 35px;
}


#scientific-name{
  font-style: italic;
  font-weight: 25px;
  text-align: center;
  background-color: black;
  padding: 5px;
}

footer {
  font-size: 18px;
  font-variant-caps: all-small-caps;
  margin-top: 25%;
}

a {
  color: yellow;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

body {
  display: flex;
  justify-content: center;
  flex-direction: wrap;
  align-items: center;
}

h1{
  font-size: 45px;
}

img {
  width: 275px;
  height: auto;
}


.results {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
}

#button,
#select-plant{
  display: flex;
  flex-flow: column;
  flex-shrink: 2;
  font-size: 20px;

}

#common-name,
#scientific-name,
#family-name,
#duration
{
  font-size: 20px;
}

}